<div class="sidebar-container">
  <h3 class="sidebar-title">{{ 'settings.title' | translate }}</h3>
  <nav class="sidebar-nav">
    <a *ngFor="let category of sortedCategories$ | async" [routerLink]="['/settings', category.key]"
      routerLinkActive="active" #rla="routerLinkActive" class="sidebar-link">

      <!-- Default Icon -->
      <i class="bi sidebar-icon default-icon" [ngClass]="'bi-' + category.icon"></i>

      <!-- Active Icon -->
      <i class="bi sidebar-icon active-icon" [ngClass]="'bi-' + category.iconSelected"></i>

      <span class="category-name">{{ category.displayName }}</span>

      <span *ngIf="category.beta" class="badge badge-beta">{{ 'settings.beta-tag' | translate }}</span>
    </a>
  </nav>
</div>
