<div class="dropdown">
  <button
    [class]="'btn ' + buttonClass"
    type="button"
    (click)="toggleDropdown($event)"
    [attr.aria-expanded]="isOpen">
    <i [class]="'bi ' + buttonIcon"></i>
  </button>

  <ul class="dropdown-menu" [class.show]="isOpen">
    <ng-container *ngFor="let item of items; trackBy: trackByItemId">
      <li *ngIf="item.divider" class="dropdown-divider"></li>
      <li *ngIf="!item.divider">
        <button
          class="dropdown-item"
          [class.disabled]="item.disabled"
          [class.text-danger]="item.variant === 'danger'"
          [class.text-warning]="item.variant === 'warning'"
          [class.text-primary]="item.variant === 'primary'"
          [disabled]="item.disabled"
          type="button"
          (click)="onItemClick(item, $event)">
          <i *ngIf="item.icon" [class]="'bi ' + item.icon + ' me-2'"></i>
          <span>{{ item.label }}</span>
        </button>
      </li>
    </ng-container>
  </ul>
</div>
