.form-switch {
  padding-left: 2.5em;
  transition: opacity 0.2s ease-in-out;

  .form-check-input {
    width: 3em;
    height: 1.5em;
    cursor: pointer;
    background-color: var(--taskflow-color-toggle-off-bg);
    border-color: var(--taskflow-color-toggle-off-border);
    transition: background-color 0.2s ease, border-color 0.2s ease,
      opacity 0.2s ease-in-out;

    &::before {
      background-color: var(--taskflow-color-toggle-off-handle) !important;
      transition: transform 0.2s ease;
    }

    &:checked {
      background-color: var(--taskflow-color-toggle-on-bg);
      border-color: var(--taskflow-color-toggle-on-border);

      &::before {
        background-color: var(--taskflow-color-toggle-on-handle) !important;
      }
    }

    &:disabled {
      background-color: var(--taskflow-color-toggle-disabled-bg);
      border-color: var(--taskflow-color-toggle-disabled-border);
      cursor: not-allowed;
      opacity: 0.5;

      &::before {
        background-color: var(
          --taskflow-color-toggle-disabled-handle
        ) !important;
      }
    }
  }
}
