<div class="settings-layout">
  <div class="settings-sidebar">
    <!-- Show sidebar skeleton while loading -->
    <ng-container *ngIf="(loading$ | async) || !(catalogLoaded$ | async); else sidebarContent">
      <app-skeleton-loader type="settings-sidebar"></app-skeleton-loader>
    </ng-container>
    <ng-template #sidebarContent>
      <app-settings-sidebar></app-settings-sidebar>
    </ng-template>
  </div>
  <div class="settings-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Search Dialog -->
<app-settings-search-dialog *ngIf="showSearchDialog"></app-settings-search-dialog>
