.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-check {
  padding-left: 1.5em;

  .form-check-input {
    cursor: pointer;
    
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .form-check-label {
    cursor: pointer;
    font-size: var(--taskflow-font-font-size-normal);
    
    &:has(+ input:disabled) {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
