.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  transition: opacity 0.2s ease-in-out;
}

.form-check {
  padding-left: 1.5em;
  transition: opacity 0.2s ease-in-out;

  .form-check-input {
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .form-check-label {
    cursor: pointer;
    font-size: var(--taskflow-font-font-size-normal);
    transition: opacity 0.2s ease-in-out;

    &:has(+ input:disabled) {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
