<div class="radio-grid" role="radiogroup" [attr.aria-disabled]="disabled">
  <label class="radio-tile" *ngFor="let option of options" [class.selected]="value === option.value"
    [class.disabled]="disabled" [attr.for]="name + '-' + option.value">
    <input type="radio" class="radio-input" [name]="name" [id]="name + '-' + option.value" [value]="option.value"
      [checked]="value === option.value" [disabled]="disabled" (change)="onChange(option.value)" />
    <span class="radio-content">
      <span class="radio-icon" *ngIf="option.icon">
        <i class="bi" [ngClass]="'bi-' + option.icon"></i>
      </span>
      <span class="radio-text">
        <span class="radio-label">{{ option.label }}</span>
        <span class="radio-description" *ngIf="option.meta?.['description']">{{ option.meta?.['description'] }}</span>
      </span>
    </span>
    <span class="radio-check" *ngIf="value === option.value">
      <i class="bi bi-check-circle-fill"></i>
    </span>
  </label>
</div>